
p{
    font-size: medium;
    font-weight: 400;
    text-indent: 0%;
    word-spacing: -0.2vh;
}

p.introductionText{
    font-size: large;
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: xx-large;
}

#header img{
    border-radius: 50%;
    width: 10vw;
    height: 10vh;
}

#header{
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

#topics{
    margin-top: 5vh;
    margin-left: 10vh;
}

.about p {
    margin: 0.5vh;
    text-indent: 3vh;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.project1{
    height: 100px;
    border-radius: 50%;
    border: 2px;
    border-color: black;
    display: flex;
    flex-direction: row;
}

.project1 img {
    width: 20%;
    height: 100%;
}

#console{
    display: flex;
    justify-content: flex-end;
}

footer{
    position: fixed;
    bottom: 0px;
    justify-content: center;

}