/**
*   _____ ____  _   _ _______       _____ _______ 
*  / ____/ __ \| \ | |__   __|/\   / ____|__   __|
* | |   | |  | |  \| |  | |  /  \ | |       | |   
* | |   | |  | | . ` |  | | / /\ \| |       | |   
* | |___| |__| | |\  |  | |/ ____ \ |____   | |   
*  \_____\____/|_| \_|  |_/_/    \_\_____|  |_|   
*/

.contact-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 50%;
  padding-left: 16px;
}

.contact-form-name,
.contact-form-email,
.contact-form-message {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
