@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ebebeb;
  font-family: "IBM Plex Mono";
  color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

/* Apply the dark mode*/
.darkMode {
  background-color: #1c1c1c;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

.darkMode a {
  color: #7a12db;
  transition: 0.5s;
}

a {
  color: #0000ee;
  transition: 0.5s;
}

textarea {
  width: 100%;
  resize: none;
}

footer {
  position: relative;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.greenBadge {
  padding-top: 0.1em;
  padding-bottom: 0.1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: 10px;
  font-size: small;
  background-color: #bbf7d0;
  color: #1f2937;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 1s;
}

.greenBadge:hover {
  background-color: #9dffbf;
}

.redBadge {
  padding-top: 0.1em;
  padding-bottom: 0.1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: 10px;
  font-size: small;
  background-color: #f7d6bb;
  color: #1f2937;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 1s;
}

.redBadge:hover {
  background-color: #ff9d9d;
}


.blueBadge {
  padding-top: 0.1em;
  padding-bottom: 0.1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: 10px;
  font-size: small;
  background-color: #bbf0f7;
  color: #1f2937;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 1s;
}

.blueBadge:hover {
  background-color: #9debff;
}

.orangeBadge {
  padding-top: 0.1em;
  padding-bottom: 0.1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: 10px;
  font-size: small;
  background-color: #f7e4bb;
  color: #1f2937;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 1s;
}

.orangeBadge:hover {
  background-color: #ffe09d;
}

.yellowBadge {
  padding-top: 0.1em;
  padding-bottom: 0.1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: 10px;
  background-color: #f7f1bb;
  color: #1f2937;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 1s;
}

.yellowBadge:hover {
  background-color: #fffd9d;
}