.container{
    padding-left: 5vw;
}

h1{
    padding-top: 30px;
}

.backOption{
    top: 10px;
    left: 10px;
    position: fixed;
}

#projects{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 3vh;
    padding-left: 1vw;
}

.project{
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.project:hover{
    background-color: #d4d4d4;
    padding: 20px;
    border-radius: 2vh 0vh 0vh 2vh;
}

.project .titleProject{
    padding-left: 1vw;
    
}
.infoProject{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.project .infoProject{
    padding-left: 2vw;
}

.project .infoProject p{
    padding-left: 1vw;
}

.project .linkPart{
    padding-top: 1.5vh;
}

/* .project:hover{
    width: 95%;
    height: 100%;
    border: 2px solid lightgray;
    border-radius: 20px;
    background-color: lightgray;
    transition: all 0.4s ease-in-out;
} */

.titleProject{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.dateProject{
    display: flex;
    flex-direction: row;
}

.dateProject p{
    font-size: small;
}

.infoProjectMiddle{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descriptionProject{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}